extends layout

block content
  h1= title
  p Welcome to #{title}, #{user.username}

  each post in data
    li
      a(href="/post-#{post._id}") #{post.title}
      | 
      small
        = post.created_at