extends layout

block content
    h1= title
    h2= data.title
    section= data.body
    hr
    h2 Комментарии
    .row
        .col-md-4.col-md-offset-4
            each comment in comments
                .well
                    p
                        b= comment.user_id
                    p= comment.text
    h3 Оставить отзыв
    .row
        .col-md-4.col-md-offset-4
            form(action='/post-#{data._id}/add_comment', method='post')
                textarea.form-control(name='text', rows='3', placeholder='кг/ам')
                br
                button(class="btn btn-default") Написать